/******************************************
Primary CSS file for screen : all browsers
******************************************/

/*---------------
Whitespace reset  Ref: http://leftjustified.net/journal/2004/10/19/global-ws-reset/  --*/
* { margin:0; padding:0; }

p, ol, ul, dl {
  margin:.5em;
}
/* More left margin for lists */
ol, ul {
  margin-left: 2.5em;
}
/*-- /end whitespace reset --*/

body {
  font:82% verdana, tahoma, sans-serif;
  color:#252525;
  background:#fff;
  min-width: 755px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*---Links ---*/

a img { border:none; }
a, a:visited {
  color: #407ab6;
  text-decoration: none;
}
a:hover, a:active {
  color: #a4c0e2;
  text-decoration: underline;
}

/*---------
  HEADER
----------*/
#header {
  height:78px;
  background:transparent url(../img/header.gif) no-repeat;
}

#header h1 {
  float: right;
  padding-right: 3px;
  height:78px;
  width:300px;
  text-indent:-1000em;
  background: transparent url(../img/dxlogo-300x76.gif) no-repeat;
}


/*--------------
  MAIN NAV
--------------*/
#udm {
  border-bottom: solid #096 2px;
}

#resLink {
      float:right;
      text-align:center;
      margin-right:20px;
}

/* [nav] default you are here will be same as rollover unless otherwise specified */
#udm a.udmY, #udm a.udmY:visited {
  border: solid 2px #096;
  background-color: #096;
  color: #fff;
}

/* [menu] default you are here will be same as rollover or inherit from navbar styles unless otherwise specified */
#udm ul a.udmY, #udm ul a.udmY:visited {
  border: solid 1px #096;
  background-color: #096;
  color: #fff;
}

/*----------------------
  CONTENT
------------------------*/

#content {
  float: left;
  width: 77%;
  margin-right: 8px;
  margin-left: 7px;
  margin-top: 0px;
}

body.resource #content {
  float: left;
}

/*-- Content Boxes --*/

/* front page content */
.primary, .secondary, div.resource {
  font-size:85%;
}

div.primary, div.secondary {
  margin-left: 1em;
  margin-right: 1em;
}

div.primary .content {
  border:1px solid #039;
}

div.secondary { border:none; }

.boxL, .boxR, .boxR2 {
  width:49%;
  float:left;
}

.boxL .content, .boxR .content, .boxR2 .content {
  border:1px solid #999;
}

.boxL {
  float:left;
}
.boxR, .boxR2 {
  float:right;
}
.boxR2 {
  margin-top: .5em;
  padding-bottom: .5em;
}

/* resource template content */
div.resource {
  border:1px solid #999;
  margin-top: 0px;
  margin-bottom: 20px;
  padding:10px;
}
#content h1, .primary h2, .secondary h2 {
  width:100%;
  margin-top: 1em;
  margin-bottom: 1px;
  background:#fff url(../img/contBox_bar.gif) no-repeat right top;
  color:#fff;
  font-size:1.1em;
  padding:2px 0px 4px 0px;
}
h1 span, .primary h2 span, .secondary h2 span {
  padding:2px 30px 4px 10px;
  background:#039 url(../img/contBox_blue.gif) no-repeat right top;
}

.secondary h2 {
  background:#fff url(../img/contBox_bar.gif) no-repeat right top;
}
.secondary h2 span {
  background:#999 url(../img/contBox_grey.gif) no-repeat right top;
}
h1 span {
  background:#999 url(../img/contBox_grey.gif) no-repeat right top;
}

/*-- Image Classes --*/
img.left, img.right {
  border:1px solid #999;
  margin:8px;
}
img.left {float:left;}
img.right {float:right;}

/*-----------------
  SIDEBAR
--------------------*/

#sidebar {
  width: 21%;
  padding: 0px;
  margin: 0px;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  background:#9cf;
  font-size:90%;
}

body.resource #sidebar {
  float: left;
}

body.index #sidebar {
  float: right;
}

/*---------------
  Sub Navigation
----------------*/
ul#sectionNav {
  list-style:none inside;
  padding-left:5px;
}


/*-------------------------
  FRONT PAGE SIDEBAR CONTENTS
--------------------------*/

/*----TRIAL DOWNLOAD-------*/

div#tigers {
  background:#039;
  text-align:center;
  padding: 4px;
}

div#tigers a {
  display: block;
  color: #fff;
}

div#pricing a:hover, div#tigers a:hover {
  color: #9cf;
  text-decoration: none;
}

div#tigers a span#subtext {
  font-size: 0.6em;
}

div#pricing {
  background: #039;
  padding: 4px;
  color: #fff;
}

div#pricing h2 {
  text-align: center;
  display: block;
}

div#pricing a {
  text-decoration: underline;
  color: #fff;
}

div#pricing a:hover {
  color: #9cf;
  text-decoration: underline;
}

/*-------
  INFOBAR
---------*/
#infobar {
  background: #039;
  text-align: right;
  padding-bottom: 2px;
}

#infobar span {
  padding-left: 4px;
  padding-right: 4px;
  font-size:0.85em;
  color:#fff;
}

#infobar #login {
  float: left;
  padding-left: 4px;
  margin: 0px;
  line-height: 1.7;
}

/*---SEARCH------*/
input#s {
  font-size:82%;
  width:150px;
  margin-top: 2px;
  padding: 1px;
  background: #fff;
  border: solid 1px #000;
}

#do_search {
  font-size:82%;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 1px;
  margin-right: 10px;
  background: #096;
  color: white;
  border: solid 1px black;
}

#do_search:hover {
  background: white;
  color: #039;
  text-decoration: none;
}

/*-----Corporate Evaluation----*/

#trial {
  padding:4px 0 4px;
  background:#00a651 url(../img/green_arrow.gif) no-repeat right center;
  color:#fff;
  text-align:center;
}

#trial h2 {

  margin-right:80px;
  margin:4px 80px 6px 6px;
  margin-bottom:8px;
}
#trial a {
  color: #fff;
  text-decoration: none;
}

#trial a span#subtext {
  font-size: 0.6em
}
#trial a:hover {
  color: #000;
}

/*----DELTA NEWS----*/

#news h2 {
  font-size:1.1em;
  color:#036;
  margin:4px 10px;
}
#news span.date {
  display:block;
  text-align:right;
  margin:4px 10px 2px;
  border-bottom:1px dotted #000;
  font-size:80%;
}
#news p {
  margin:4px 10px;
  font-size:90%;
}
#news h2 a, #news h2 a:visited {
  color: #036;
  text-decoration: none;
}
#news h2 a:hover {
  color: #fff;
}
/*---------
  FOOTER
----------*/
#footer {
  clear:both;
  background:#999 url(../img/grey_bars.gif) repeat-x 0 50%;
  padding-left:40px;
}
#footer span {
  background:#999;
  line-height:1.6;
  margin:3px 0;
  padding:0 2px;
  font-size:.8em;
  color:#fff;
}

/*-------------
FLOAT CLEARING
------------*/
.primary:after, .secondary:after, #content:after, .content:after {
  content:".";
  visibility:hidden;
  display:block;
  clear:both;
  height:1px;
  margin-top:-1px;
}

/*------------
GLOBAL STYLES
--------------*/
code {
  font-size: 125%;
}

.programlisting, .screen, pre {
  line-height: 1em;
  font-size: 125%;
  background: #eee;
  color: #252525;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

table.bordered {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-collapse: collapse;
}
table.bordered th, table.bordered td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
table.bordered th {
  padding-left: 10px;
  background-color: #ddd;
}
